<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-item *ngFor='let data of isiData | async'>
        <h1> {{data.judul}} </h1> <br>
        <p> {{data.tglNote}} </p>
        <div slots='end'>
          <ion-button  color='secondary' (click)='goDetail(data.judul, data.isi, data.rating, data.tglNote)'> See Detail </ion-button>
          <ion-button color='danger' (click)='delete(data.judul)'> Delete </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
