<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder='Judul' [(ngModel)]='Judul'></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder='Isi' [(ngModel)]='Isi'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MMMM DD, YYYY" placeholder="Select Date" [(ngModel)]='tglNote'></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Rating note:</ion-label>
    <ion-select value="1" okText="Okay" cancelText="Dismiss" [(ngModel)]='rating'>
      <ion-select-option value="1"> 1 </ion-select-option>
      <ion-select-option value="2"> 2 </ion-select-option>
      <ion-select-option value="3"> 3 </ion-select-option>
      <ion-select-option value="4"> 4 </ion-select-option>
      <ion-select-option value="5"> 5 </ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-button (click)='addNote()' expand='full'> Add Notes </ion-button>
</ion-content>
