<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{Judul}} </ion-card-title>
      <ion-card-subtitle>{{tglNote}}</ion-card-subtitle>
      <ion-chip>
        <ion-label>Rating: {{rating}}</ion-label>
      </ion-chip>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <p> {{Isi}} </p>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Edit Notes </ion-card-title>
    </ion-card-header>
  
    <ion-item>
      <ion-input placeholder='Isi' [(ngModel)]='IsiUpdt'></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>MM DD YY</ion-label>
      <ion-datetime displayFormat="MMMM DD, YYYY" placeholder="Select Date" [(ngModel)]='tglNoteUpdt'></ion-datetime>
    </ion-item>
  
    <ion-item>
      <ion-label>Rating note:</ion-label>
      <ion-select value="1" okText="Okay" cancelText="Dismiss" [(ngModel)]='ratingUpdt'>
        <ion-select-option value="1"> 1 </ion-select-option>
        <ion-select-option value="2"> 2 </ion-select-option>
        <ion-select-option value="3"> 3 </ion-select-option>
        <ion-select-option value="4"> 4 </ion-select-option>
        <ion-select-option value="5"> 5 </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color='warning' expand='full' (click)='update(Judul)'> Update </ion-button>
  </ion-card>
</ion-content>
